html{
    background-color: blue;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 53px;
   color: whitesmoke;
   font-family: "Bangers";
   letter-spacing: 6px;
   font-weight: 100;
}

.line {
    stroke-width: 2px;
  }