html{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

h1{
   font-size: 53px;
   color: whitesmoke;
   font-family: "Bangers";
   letter-spacing: 6px;
   font-weight: 100;
   margin: 0px auto;
   text-align: center;
   margin-bottom: 20px;
}

.main{
    width: 800px;
    margin-top: 5%;
}


.pick-teams-title{
    font-size: 40px;
    color: whitesmoke;
    font-family: "Bangers";
    letter-spacing: 4px;
    text-align: center;
}

.select-container{
    display: flex;
    justify-content: space-around;
}

.team1-input{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.team1-input > *{
    margin-top: 5%;
    text-align: center;
}
.team2-input > *{
    margin-top: 5%;
    text-align: center;
}

.team2-input{
    display: flex;
    flex-direction: column;
    width: 30%;
}

label{
    color: whitesmoke;
}

.team-label{
    color: whitesmoke;
    text-align: center;
    font-family: "Bangers";
    font-size: 40px;
    letter-spacing: 4px;
}

.compare-button{
    margin-left: 40%;
    background: black;
    color: whitesmoke;
    margin-top: 50px;
    width: 20%;
    height: 50px;
    font-size: 30px;
    font-family: "Bangers";
    letter-spacing: 5px;
    border: 2px solid snow;
}

.compare-button:hover{
    border: 2px solid rgb(141, 141, 141);
    cursor: pointer;
    color: rgb(187, 187, 187);
}

.line {
    stroke-width: 2px;
    fill: none;
}

text{
    color: white;
}


footer{
    position: absolute;
    display: flex;
    bottom: 0;
    height: 2.5rem;
    width: 500px;
    justify-content: center;
}

.footer-image{
    width: 30px;
    height: 30px;
}

footer span{
    color: white;
    margin-right: 30px;
    height: 2.0rem;
    font-size: 22px;
    font-family: "Bangers";
    letter-spacing: 2px;
}